<h1>Perhaps the best dinosaur fossil ever discovered. So why has hardly anyone seen it?</h1>

<p>The early June morning in Montana was already very hot and dry by 7.30, when Clayton Phipps and his friend, Mark Eatman, set out to search for fossils. Phipps, a rancher who calls himself the Dino Cowboy, was wearing his trademark black felt Stetson cattleman hat.</p>

<p>The two had gone bone collecting before, but they were joined on this day for the first time by Phipps’s cousin, Chad O’Connor. The trio fanned out to hike through the badlands of what they thought was the Judith River Formation; later, they would learn they had actually been in an area called Hell Creek, a division of gray and ochre sandstone, shale and clay deposited about 66m years ago during the Late Cretaceous, when the area was a swampy floodplain.</p>

<p>Phipps, like most locals, calls it the Hell Crik. It’s one of the most storied dinosaur fossil sites in the world.</p>

<p>At lunchtime, the group reconvened for roast beef sandwiches. Phipps asked Eatman if he had found anything. Yes, he said⁠, a pelvis weathering out of a hill – not a big deal, except this one appeared to have an articulated femur, potentially suggesting a rare level of completeness. They went to the site. Phipps could tell right away it was from a ceratopsian, a group of herbivorous, beaked dinosaurs. He brushed away some of the sand, and thought there might be more of the dinosaur buried in the hillside.</p>

<p>But excavating it would have to wait for another day: he had 260 acres of hay to cut for cattle feed.</p>

<p>Eatman went back to Billings, where he had gotten a job at a carpet store after a run of bad luck put an end to his 13-year career as a full-time fossil hunter. (“His wife said: ‘We’re starving to death – you gotta get a real job,’” Phipps recalls.)</p>

<p>O’Connor and Phipps headed home to Phipps’s ranch. “We weren’t all that excited,” he says. “It was a pelvis in the ground at the bottom of a canyon that was really remote and no roads to it at all. We had no plans to go back, but Chad convinced us to. I’m sure glad we did.”</p>