<div id="siteframe">
    <div id="wrapper">
			<app-header></app-header>
			<main>
				<section id="example-section">
					<div class="inner">
						<div class="pad">
							 <router-outlet></router-outlet>
						</div>
					</div>
				 </section>
			</main>
			<footer>
				<div class="inner">
					<p>Footer content</p>
					<app-mainnav></app-mainnav>
				</div>
			</footer>
    </div>
    <div id="mobile_menu">
    	<div id="logo">LOGO HERE</div>
        <div>
        	<div class="pad12">
						<p>Suspendisse</p>
					</div>
        </div>
        <ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Link</a></li>
        </ul>
        <div id="mobile_menu_botton_holder">
        	<a href="#"><span>Link 1</span></a> <a href="#"><span>Link 2</span></a>
        </div>
        Copyright &copy;2019.
    </div>
</div>
<div id="responder"></div>
